%h1 Search PubMed's database
=form_tag '/search', :method => :put do

  = label :search_label, :search_label, 'Input your search term:'
  = text_field :search_term, 'Search term:'
  
  = label :major_topic, :major_topic, 'Input major topic:'
  = text_field :major_topic_term, 'Major topic term:'

  = label :subheading, :subheading, 'Input subheading:'
  = text_field :subheading_term, 'Subheading term:'

  = label :terms, :terms, 'Input terms'
  = text_field :terms, 'Mesh terms:'

  = submit_tag 'Search!'

