%h1 Search PubMed's database
=form_tag '/search', :method => :post do

  = label :search_label, :search_label, 'Input your search term:'
  = text_field '', 'search_term'
  %br
  %br 
  = label :mesh_major_topic, :mesh_major_topic, 'Input MeSH major topic:'
  = text_field '', :major_topic
  %br
  %br
  = label :mesh_subheading, :mesh_subheading, 'Input MeSH subheading:'
  = text_field '', :subheading
  %br
  %br
  = label :mesh_terms, :mesh_terms, 'Input MeSH terms:'
  = text_field '', :terms
  %br
  %br
  = submit_tag 'Search!'

